header {
	display: flex;
	flex-direction: row;
	padding: 0.25em;
}

header a {
	font-size: 1.4em;
	text-decoration: none;
	font-weight: bold;
	margin-left: -10%;
}

header div {
	background-color: aquamarine;
	border-style: solid;
	border-radius: 50%;
	border-color: black;
	border-width: 1px;
	height: 1.6em;
	width: 1.6em;
	justify-content: center;
    display: flex;
    padding: 0.3em;
}

header h1 {
	display: inline;
	font-size: 2em;
	padding: 0.5em;
}

