body {
	background-color: rgb(212, 243, 233);
}

main {
	border-width: 2px;
	border-style: solid;
	border-color: black;
	background-color: antiquewhite;
	margin: 0.25em;
}

.fb_cell{
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: auto;
}
.fb_cell img {
	max-width: 100%;
}

/* -------------------------------------------------- */
.label {
	background-color: rgb(48, 148, 121);
	color: #fff;
	top: 0;
	left: 0;
	padding: .125em;
}
#wrapper{
	border-width: 0.0625em;
	border-style: solid;
	border-color: rgb(48, 148, 121);
	margin: 0.125em;
}
#wrapper div {
	border-width: 0.0625em;
	border-style: solid;
	border-color: rgb(48, 148, 121);
	margin: 0.5em;
}

#output {
	margin: 0.25em;
	padding: 0.25em;
	
	border-width: 0.0625em;
	border-style: solid;
	border-color: rgb(95, 48, 48);

	border-radius: 0.625em;
	box-shadow: 10px 10px 10px gray;
}
