body {
	background-color: rgb(212, 243, 233);
}

main {
	border-width: 2px;
	border-style: solid;
	border-color: black;
	background-color: antiquewhite;
	margin: 0.25em;
}

.fb_cell{
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: auto;
}
.fb_cell img {
	max-width: 100%;
}

.fi {
	border-width: 2px;
	border-style: solid;
}

#flexitem1 {
	border-color: greenyellow;
	background-color: rgb(255, 255, 220);
}

#flexitem2 {
	border-color: rgb(128, 189, 36);
	background-color: rgb(255, 245, 190);
}

#flexitem3 {
	border-color: greenyellow;
	border-width: 2px !important;
	background-color: rgb(255, 235, 140);
}

#flexitem4 {
	border-color: rgb(128, 189, 36);
	background-color: rgb(255, 225, 80);
}

#flexitem5 {
	border-color: greenyellow;
	background-color: rgb(255, 215, 0);
}

.big {
	font-size: 16px;
	background-color: white;
	border-radius: 4px;
	margin-top: 2px;
	color: gray;
	padding: 8px 4px;
	line-height: 130%;
}

/* -------------------------------------------------- */

div#wrapper{
	border-width: 1px;
	border-style: solid;
	border-color: black;
	margin: 2px;
	padding: 2px;	
	
}
#wrapper div {
	border-width: 1px;
	border-style: solid;
	border-color: black;
	margin: 2px;
	padding: 2px;
}


